#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}


.unauth {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 2rem;
}

.text-left {
    text-align: left
}

.ui.card {
    width: 100%;
}